@model IEnumerable<hotel.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>المواظفين</h2>
@using (Html.BeginForm("Searchemp", "Employees", FormMethod.Post))
{
    <span>emp Name:</span> @Html.TextBox("empName")
    <input type="submit" value="Search" />
    <br />
}
<br />
<p>
    @Html.ActionLink("اضافه موظف جديد", "add")

</p>
<table class="table">
    <tr>
        <th>
            الاسم
        </th>
        <th>
            الرقم القومى
        </th>
        <th>
            رقم التليفون
        </th>
        <th>
            العنوان
        </th>
        <th>
           مده العمل
        </th>
        <th>
            نوع العمل
        </th>
        <th>
            الراتب
        </th>
        <th>
            تاريخ بدءالعمل
        </th>
        <th>
            تاريخ انتهاءالعمل
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ssn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.period_of_work)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type_of_work)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.start_of_work)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.end_of_work)
        </td>
        <td>
            @Html.ActionLink("تعديل", "Edit", new { id=item.id }) |
            
            @Html.ActionLink("حذف", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
